#root {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.app-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;

  font-size: 12px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.add-entry-form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.items {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

table {
  table: 100%;
  border-collapse: collapse;
}

tr:last-child td {
  border-top: 2px solid white;
  padding-top: 12px;
}

.deleteBtn {
  font-size: 10px;
}
